.sense {
    background-color: #3db2b9;
    color: #fff;
    text-align: center;
    .distance {
        font-size: 4.6rem;
        margin-top: 200px;
        margin-bottom: 0px;
    }
    .sub-distance {
        margin-top: 0px;
    }
}