.gojek-menu {
    .menu-container {
        // height: 700px;
        // width: 100%;
        // background: url(../assets/img/gojek-main.jpg) no-repeat;
        // background-size: cover;
        position: relative;
    }
    .gotrack-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 110px;
        width: calc(100%/4);
    }
    .gotrack-button-a{
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 110px;
        width: calc(100%/4);
    }
    .gotrack-button-b{
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 25%;
        height: 110px;
        width: calc(100%/4);
    }
    .gotrack-button-c{
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 75%;
        height: 110px;
        width: calc(100%/4);
    }
}